@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

.calendar-app {
  width: 100%;
  height: 100%;
  display: none;
  gap: $spacing-48;
}

.event-list-view {
  flex: 1 0;
  height: 100%;
  width: 100%;
  min-width: 0;
  display: flex;
  flex-flow: column;
  gap: $spacing-8;
  background-color: $color-white;

  .title {
    color: $color-grey-900;
    font-weight: 600;
    font-size: $fs-22;
    line-height: 1.25;
  }

  .event-list-container {
    // overflow-x: hidden;
    overflow-y: auto;
    width: 100%;

    ul.event-list {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      padding: 0 $spacing-32 0 0;
      box-sizing: content-box;
      display: flex;
      flex-flow: column;
      gap: $spacing-8;
    }

    li.event-preview-container {
      position: relative;
      background-color: $color-blue-50;
      // border: 1.5px solid $color-blue-100;
      border-radius: $spacing-16;
      padding: $spacing-16;
      cursor: pointer;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $spacing-16;
      transition: all 200ms ease-out;

      &:hover {
        background-color: $color-blue-500;
        // border: 1.5px solid $color-blue-700;
        * {
          color: $color-white;
        }

        .event-content .summary {
          border-left-color: $color-white;
        }
      }

      .event-content {
        // border: 1px solid red;
        display: flex;
        width: 100%;
        // width: 80px;

        .date {
          // width: 80px;
          width: $spacing-32;
          // margin: $spacing-24;
          margin: 0 $spacing-24 0 $spacing-16;
          // border: 1px solid blue;
          text-align: center; // display: flex;
          // align-items: center;
          .day {
            @include font-style('Heading L');
            // padding: $spacing-24;
            // margin: 0px auto;
            // text-align: center;
          }
          .month {
            @include font-style('Heading S');
            // padding: $spacing-24;
            // margin: 0px auto;
          }
        }

        .summary {
          flex: 1;
          padding-left: $spacing-24;
          border-left: 1px solid $color-grey-200;

          .title {
            @include font-style('Heading M');
          }

          .time {
            @include font-style('body M');
          }
        }
        .sender {
          color: $color-grey-900;
          font-weight: 600;
          font-size: $fs-14;
          line-height: 1.5;
        }
        .subject {
          color: $color-grey-900;
          font-weight: 600;
          font-size: $fs-14;
          line-height: 1.5;
        }
        .snippet {
          font-weight: 400;
          font-size: $fs-14;
          line-height: 1.5;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .subject-container {
          display: flex;
          gap: $spacing-8;
        }
      }

      .event-info {
        flex-shrink: 0;
        .time {
          font-weight: 400;
          font-size: $fs-14;
          line-height: 1.5;
        }
      }
    }
  }
}

.event-detail-view {
  flex: 1 0;
  min-width: 0;

  .selected {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: $spacing-8;
    width: 100%;
    height: 100%;
  }

  h3.title {
    margin-top: $spacing-32;
    color: $color-grey-900;
    font-weight: 600;
    font-size: $fs-16;
    line-height: 1.5;
  }

  .label-container {
    display: flex;
    align-items: center;
    gap: $spacing-8;

    .label {
      font-weight: 400;
      font-size: $fs-12;
      line-height: 1.5;
      padding: 0 $spacing-4;
      border-radius: $spacing-4;
      background-color: $color-blue-50;

      &.important {
        background-color: $color-yellow-300;
      }
    }
  }

  .email-info {
    width: 100%;
    margin-top: $spacing-24;
    display: flex;
    flex-flow: column;
    font-weight: 400;
    font-size: $fs-14;
    line-height: 1.5;

    .sender-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .sender {
        display: flex;
        align-items: center;
        gap: $spacing-8;

        .sender-name {
          color: $color-grey-900;
          font-weight: 600;
        }
      }
    }

    .receiver-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      button.collapse-button {
        margin-left: $spacing-4;
        border-radius: $spacing-4;
        padding: $spacing-8 $spacing-4;
        border: none;
        background-color: transparent;

        .collapse-icon {
          transition: all 100ms ease-out;
          &.open {
            transform: rotate(180deg);
          }
        }
      }

      &:hover button.collapse-button {
        background-color: $color-blue-100;
      }
    }

    .participants-container {
      width: 100%;
      padding: $spacing-16 $spacing-32;
      border: 1px solid $color-blue-100;
      border-radius: $spacing-16;
      margin-top: $spacing-16;

      gap: $spacing-8;
      display: grid;
      grid-template: 1fr auto / auto 1fr;

      .participants-title {
        display: flex;
        align-items: flex-start;
        color: $color-grey-900;
        font-weight: 600;
        font-size: $fs-14;
        line-height: 1.5;
      }

      .participants-list {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        gap: $spacing-4;
      }
    }
  }

  // .event-body {
  //   width: 100%;
  //   min-height: 0;
  //   overflow-y: auto;
  //   margin-top: $spacing-16;

  //   .event-body-text {
  //     word-break: break-word;
  //     font-weight: 400;
  //     font-size: $fs-16;
  //     line-height: 1.5;
  //   }
  // }

  .empty-event {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-8;
    font-weight: 400;
    font-size: $fs-14;
    line-height: 1.5;
  }
}

.mobile-warning {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: $spacing-32;

  h2 {
    color: $color-grey-900;
    font-weight: 600;
    font-size: $fs-22;
    line-height: 1.25;
  }

  p {
    font-weight: 600;
    font-size: $fs-16;
    line-height: 1.5;
  }
}

@media #{$desktop} {
  .calendar-app {
    display: flex;
  }
}
