@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

button {
  @include font-style('Link M');
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 200ms ease-out;
  border: none;
  outline: none;
  cursor: pointer;
  padding: $spacing-8 $spacing-16;
  border-radius: 1rem;
  gap: $spacing-8;
}

.layout {
  width: 100vw;
  height: 100vh;
  background-color: $color-blue-900;
  color: $color-white;
  padding: 1rem;

  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  .title-menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 600;
      font-size: $fs-28;
      line-height: 1.25;
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: $spacing-8;

      button {
        background-color: transparent;
        color: $color-white;
        border-radius: 0.5rem;
        padding: $spacing-8;
        font-weight: 500;
        font-size: $fs-14;
        line-height: 1.5;

        &:hover {
          background-color: $color-blue-700;
        }
      }
    }
  }

  footer {
    .logo {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      gap: $spacing-8;
      font-weight: 600;
      font-size: $fs-16;
      line-height: 1.5;
    }
  }

  main {
    width: 100%;
    min-height: 0;
    flex: 1 0 0;
  }
}

section.login {
  height: 100%;

  form {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: $spacing-24;

    input {
      width: 100%;
      outline: none;
      border: 1px solid $color-grey-400;
      color: $color-grey-900;
      border-radius: 16px;
      padding: 12px 16px;
      font-size: $fs-16;
      font-weight: 400;
      line-height: 1.5;
    }

    button {
      width: 100%;
      font-size: $fs-16;
      font-weight: 500;
      line-height: 1.5;
      color: $color-white;
      background-color: $color-blue-500;

      &:hover {
        background-color: $color-blue-700;
      }

      &[disabled] {
        background-color: $color-blue-700;
        cursor: default;
      }
    }
  }
}

.app-card {
  width: 100%;
  height: 100%;
  color: $color-grey-800;
  padding: $spacing-24 $spacing-32;
  border-radius: $spacing-32;
  background: linear-gradient($color-grey-400, $color-grey-400) no-repeat
    calc(50% - #{$spacing-12}) / 1px 100%;
  background-color: $color-white;
}

@media #{$desktop} {
  .layout {
    padding: 3rem 8rem;

    .title-menu {
      .menu {
        button {
          padding: $spacing-8 $spacing-16;
        }
      }
    }
  }

  section.login form {
    input {
      max-width: 320px;
    }
    button {
      max-width: 320px;
    }
  }
}
