@import './base.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

.email-app {
  width: 100%;
  height: 100%;
  display: flex;
  gap: $spacing-48;
}

.email-list-view {
  flex: 1 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: $spacing-8;
  background-color: $color-white;

  .title {
    font-weight: 600;
    font-size: $fs-22;
    line-height: 1.25;
  }

  .email-list-container {
    overflow: hidden;

    ul.email-list {
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      padding: 0 $spacing-32 0 0;
      box-sizing: content-box;
      display: flex;
      flex-flow: column;
      gap: $spacing-8;
    }

    li.email-preview-container {
      position: relative;
      background-color: $color-white;
      border: 1.5px solid $color-blue-100;
      border-radius: $spacing-16;
      padding: $spacing-16 $spacing-24;
      cursor: pointer;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: $spacing-16;
      transition: all 200ms ease-out;

      &:hover{
        background-color: $color-blue-100;
        border: 1.5px solid $color-blue-700;
      }

      .email-content {
        .sender {
          font-weight: 600;
          font-size: $fs-14;
          line-height: 1.5;
        }
        .subject {
          font-weight: 600;
          font-size: $fs-14;
          line-height: 1.5;
        }
        .snippet {
          font-weight: 400;
          font-size: $fs-14;
          line-height: 1.5;
        }
        .subject-container{
          display: flex;
          gap: $spacing-8;
        }
      }

      .email-info {
        flex-shrink: 0;
        .time {
          font-weight: 400;
          font-size: $fs-14;
          line-height: 1.5;
        }
      }
    }
  }
}

.email-detail-view {
  flex: 1 0;
}
