name: Pull Request
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest
    name: Lint and check code styling
    steps:
      - uses: actions/checkout@v2
      - name: Setup Nodejs ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: 16

      - name: Install dependencies and build
        run: npm install

      - name: Run lint checks
        run: npm run lint:ci

      - name: Run prettier checks
        run: npm run lint:prettier:check 